html{
    scroll-behavior: smooth;
}
.navbar{
    box-shadow: 0px 3px 6px rgba(56, 53, 53, 0.3) !important;
}
li a:hover{
    background-color: #42c2f5;
    color: white !important;
    border-radius: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    box-shadow: 0px 3px 6px rgba(56, 53, 53, 0.3) !important;
}
li a:hover {
    background-color: #42c2f5;
    color: white !important;
    border-radius: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    box-shadow: 0px 3px 6px rgba(56, 53, 53, 0.3) !important;
}
.form{
    margin-left: 50px;
}
input[type="search"]{
    border-radius: 15px;
    box-shadow: 0px 1px 3px rgba(56, 53, 53, 0.3) !important;
}
input[type="search"]:focus {
    border-radius: 15px;
    border-color: none;
    border-style: none;
    background-color: rgb(249, 253, 255) ;
    box-shadow: 0px 2px 4px rgba(56, 53, 53, 0.3) !important;
}
.card{
    box-shadow: 0px 5px 5px rgba(56, 53, 53, 0.3) !important;
    border-radius: 15px !important;
    height: 400px !important;
}
.card-img-top{border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
/* .carousell{
    max-width: 1000px !important;
    max-height: 500px !important; */


.c{
    object-fit: cover;
    height: 550px !important;
    width: 100% !important;

}
.i, .fa{
    color:  green !important;
}
.carousel-inner{
    width:100%;
    max-height: 550px !important;
    border-radius: 15px !important;
    box-shadow: 0px 5px 5px rgba(56, 53, 53, 0.3) !important;
  }
 ::-webkit-scrollbar{
     width: 10px;
     border-radius: 15px;
     box-shadow: inset  0px 5px 5px rgb(56, 53, 53) !important;

 }
 ::-webkit-scrollbar-track{
    width: 10px;
    background-color:rgba(6, 247, 247, 0.836);
    border-radius: 15px;
    box-shadow: inset  0px 5px 5px rgb(56, 53, 53) !important;
 }
 ::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgba(255, 255, 255, 0.836);;
    border-radius: 15px;
    box-shadow: inset  0px 5px 5px rgb(56, 53, 53) !important;
 }
 
 .btn{
    width: 100% !important;
    height: auto !important;
     color: black;
     border-radius: 20px;
     }
 .btn:hover , .rupess:hover{
    background-color:#42c2f5 !important;
    box-shadow: 0px 3px 6px rgba(56, 53, 53, 0.3) !important;
 }
   .hovercard:hover + .hoverdiscripton{
     display: block;     /* transition: ease-in;
     transform: translateY(-50px);
     transition-duration: 0.3s; */
     -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}
     
 
 .hoverdiscripton{
     display: none;
     position: relative;

 }
